<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tech.Properties.Settings.___AMetYPConnectionString"
            connectionString="Data Source=ADCLG1;Initial Catalog=!!!AMetYP;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Tech.Properties.Settings.YPConnectionString" connectionString="Data Source=DESKTOP-S2UBJ1D\SQLEXPRESS;Initial Catalog=YP;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>